@model Infrastructure.ViewModels.EnergyViewModel

<div class="container-fluid">
<div class="form-inline shadow p-3 mb-5 bg-light rounded">
	<h3 class="mb-0 text-center ParagraphHome">Показания потребления электроэнергии</h3>
		<h5 class="mb-0 text-center ParagraphHome">Единица измерения: кВТ.ч</h5>
	<form asp-action="CreateEnergyStatistic" enctype="multipart/form-data">
		<input asp-for="UserId" hidden/>
		<input asp-for="User.HasEnergyMeter" hidden/>
		<div asp-validation-summary="ModelOnly" style="font-size:23px; font-family:Impact, serif" class="text-danger text-center"></div>
		@if (Model.User.HasEnergyMeter)
		{
			<div class="form-group">
				<label asp-for="DayValue"></label>
				<input asp-for="DayValue" class="form-control" type="double">
				<span asp-validation-for="DayValue" class="text-danger text-center"></span>
			</div>
			<div class="form-group">
				<label asp-for="NightValue"></label>
				<input asp-for="NightValue" class="form-control" type="double">
				<span asp-validation-for="NightValue" class="text-danger text-center"></span>
			</div>
			<button class="btn btn-outline-dark m-1" type="submit">Отправить</button>
		}
		else
		{
			<input asp-for="DayValue" hidden />
			<input asp-for="NightValue" hidden />
			<div class="form-group" align="center">
				<p></p>
				<p>У вас не установлен прибор учета электроэнергии.</p>
				<p>Расчет будет произведен по нормативному потреблению.</p>
			</div>
			<button class="btn btn-outline-dark m-1" type="submit">Отправить нормативные данные</button>
		}
	</form>
</div>
</div>