@model Infrastructure.ViewModels.GVSViewModel

<div class="form-inline shadow p-3 mb-5 bg-light rounded">
	<h3 class="mb-0 text-center ParagraphHome">Показания потребления горячей воды</h3>
	<form asp-action="CreateGVSStatistic" enctype="multipart/form-data">
		<input asp-for="UserId" hidden/>
		<div asp-validation-summary="None" style="font-size:23px; font-family:Impact, serif" class="text-danger text-center"></div>
		@if (Model.User.HasGvsMeter)
		{
			<div class="form-group">
				<label asp-for="CurrentValue"></label>
				<input asp-for="CurrentValue" class="form-control" type="double">
			</div>
			<button class="btn btn-outline-dark m-1" type="submit">Отправить</button>
		}
		else
		{
			<div class="form-group" align="center">
				<p></p>
				<p>У вас не установлен прибор учета горячей воды.</p>
				<p>Расчет будет произведен по нормативному потреблению.</p>
			</div>
			<button class="btn btn-outline-dark m-1" type="submit">Отправить нормативные данные</button>
		}
	</form>
</div>