@model Infrastructure.ViewModels.EnergyViewModel

<div class="form-inline shadow p-3 mb-5 bg-light rounded">
	<h3 class="mb-0 text-center ParagraphHome">Показания потребления электроэнергии</h3>
	<form asp-action="CreateEnergyStatistic" enctype="multipart/form-data">
		<input asp-for="UserId" hidden />
		<div asp-validation-summary="None" style="font-size:23px; font-family:Impact, serif" class="text-danger text-center"></div>
		<div class="form-group">
			<label asp-for="DayValue"></label>
			<input asp-for="DayValue" class="form-control" type="double">
		</div>
		<div class="form-group">
			<label asp-for="NightValue"></label>
			<input asp-for="NightValue" class="form-control" type="double">
		</div>
		<div class="form-group">
			<label asp-for="NormativValue"></label>
			<input asp-for="NormativValue" class="form-control" type="double">
		</div>
		<button class="btn btn-outline-dark m-1" type="submit">Создать</button>
	</form>
</div>