@model Infrastructure.ViewModels.HVSViewModel

<div class="form-inline shadow p-3 mb-5 bg-light rounded">
	<h3 class="mb-0 text-center ParagraphHome">Показания потребления холодной воды</h3>
	<h5 class="mb-0 text-center ParagraphHome">Единица измерения: м3</h5>
	<form asp-action="CreateHVSStatistic" enctype="multipart/form-data">
		<input asp-for="UserId" hidden/>
		<input asp-for="User.HasHvsMeter" hidden/>
		<div asp-validation-summary="ModelOnly" style="font-size:23px; font-family:Impact, serif" class="text-danger text-center"></div>
		@if (Model.User.HasHvsMeter)
		{
			<div class="form-group">
				<label asp-for="CurrentValue"></label>
				<input asp-for="CurrentValue" class="form-control" type="double">
				<span asp-validation-for="CurrentValue" class="text-danger text-center"></span>
			</div>
			<button class="btn btn-outline-dark m-1" type="submit">Отправить</button>
		}
		else
		{
			<input asp-for="CurrentValue" hidden />
			<div class="form-group" align="center">
				<p></p>
				<p>У вас не установлен прибор учета холодной воды.</p>
				<p>Расчет будет произведен по нормативному потреблению.</p>
			</div>
			<button class="btn btn-outline-dark m-1" type="submit">Отправить нормативные данные</button>
		}
	</form>
</div>