@model Infrastructure.ViewModels.UserViewModel

<div style="padding: 10px;" />
<div class="col-md-12">
	<div class="card-body">
		<div class="card card-outline-secondary" style="background-color: white">
			<div class="card-header">
				<h3 class="mb-0 text-center ParagraphHome">Новый пользователь</h3>
			</div>
			<div class="card-body">
				<form asp-action="CreateUser" enctype="multipart/form-data">
					<div asp-validation-summary="All" style="font-size:23px; font-family:Impact, serif" class="text-danger text-center"></div>
					<div class="form-group">
						<label asp-for="FirstName"></label>
						<input asp-for="FirstName" class="form-control" type="text">
					</div>
					<div class="form-group">
						<label asp-for="LastName"></label>
						<input asp-for="LastName" class="form-control" type="text">
					</div>
					<div class="form-group">
						<label asp-for="Login"></label>
						<input asp-for="Login" class="form-control" type="text">
					</div>
					<div class="form-group">
						<label asp-for="Password"></label>
						<input asp-for="Password" class="form-control" type="text">
					</div>
					<div class="form-group">
						<label asp-for="PeopleCount"></label>
						<input asp-for="PeopleCount" class="form-control" type="number">
					</div>
					<div class="form-group">
						<label asp-for="HasGvsMeter"></label>
						@Html.CheckBoxFor(m => m.HasGvsMeter)
					</div>
					<div class="form-group">
						<label asp-for="HasHvsMeter"></label>
						@Html.CheckBoxFor(m => m.HasHvsMeter)
					</div>
					<div class="form-group">
						<label asp-for="HasEnergyMeter"></label>
						@Html.CheckBoxFor(m => m.HasEnergyMeter)
					</div>
					<button class="btn btn-outline-dark" type="submit">Зарегистрировать</button>
				</form>
			</div>
		</div>
	</div>
</div>